<% include partials/header %>
<div class="container">
        <div class="jumbotron jumbotron-fluid title mx-auto">
            <div class="container text-center">
                <h1 class="display-3 text-center"><img  alt="pokemon" class="img-fluid" src="./assets/images/pokemonTitle.png" width="280px" height="100px" /></h1>
                <p class="lead text-center myFont">Let's start with the pokemons .</p>
                <a class="btn btn-primary text-center color-white" href="/pokemons">Sart Here</a>
            </div>
        </div>
    </div>

<% include partials/footer %>

