<% include ../partials/header %>

      <div class="starter-template">
        <h1>Noticias publicas</h1>
        <% noticias.forEach(content => { %>
             <p class="lead"><%= content.title%> - <%= content.content%> - <%= content.category%> </p>
       <% }) %>
      </div>

<% include ../partials/footer %>